.Post {

  .post-avatar-img{
    height:28px !important;
  }

  .image-container{
    height: 200px;
    overflow: hidden;
  }

  .post-image {
    width: 100%;
    min-width: 100%;
    min-height: 200px;
  }

}

