.Register{
    position: relative; 
    background-image: url('./register2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

form {
    background-color: #849aae;
    border: 2px solid #d5dae4;
}

.instagtam-def p{
    text-align: center;
}
